<%- include('partials/header'); -%>
<header>
    <div class="header">
        <h1>Haroba blog manager</h1>
        <h2>Your blogs</h2>
        <h1 class="new-blog"> <a href="create">Make new blog</a></h1>
    </div>
</header>

<br>

<div class="blogs content">
    <!-- for each loop som går gjennom alle bloggene som har blitt send som response og viser de på hjemmesiden -->
    <% if (blogs.length > 0) { %>
    <% blogs.forEach(blog =>{ %> 
        <a single href="/<%= blog._id %> ">
            <h3 class="title"><%= blog.title %> </h3>
            <p class="snippet"><%= blog.snippet %></p>
        </a>
        <% }) %> 
   <% } else{%>
    <!-- hvis det ikke er noen blogs viser man dette -->
    <p>there are no blogs to display</p>
   <% } %>  
</div>

<%- include('partials/footer'); -%>